<div class="list_container">
    <h1>All Lists</h1>

    <div class="card m-3" style="width: 18rem;">
      <% @lists.each do |list| %>
        <div class="card-body">
          <img class="card-img-top"<%= image_tag("https://cdn-icons-png.flaticon.com/512/73/73456.png") %>
          <div class="card-title">
            <h2 class="card-text"><%= link_to list.name, list %></h2>
          </div>
        </div>
      <% end %>
    </div>

    <div>
      <a href="#" class="btn btn-primary"><%=link_to 'Create a new List', new_list_path %></a>
    </div>
</div>
